.header {
  padding: 20px 30px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .06) 0px 1px 2px;

  .categoryDropdown {
    padding-left: 30px;
    .dropdown {
      .dropdownBtn {
        background: transparent;
        border: 1px solid #ddd;
        color: #1A1A1A;
        box-shadow: none;
      }
    }
  }

  .searchBox {
    width: 100%;
    padding: 0 30px;

    .searchInner {
      position: relative;

      .searchBtn {
        position: absolute;
      }
    }
  }

  .rightSiteMenu {
    max-width: 250px;
    width: 20%;

    ul.menu {
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;

      li {
        a {
          font-size: 15px;
          font-weight: 500;
          color: rgb(13, 17, 54);
          line-height: 1.2em;
          transition: all 0.15s ease-in-out 0s;
          text-decoration: none;
        }
        .btn {
          padding: 5px 20px;
        }
      }
    }
  }
}